<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BStack Demo Suite" verbose="1">
    <test name="BStack Demo Regression">
        <classes>
            <class name="com.automation.BStackDemoTest"/>
            <class name="com.automation.CorrectFiltering01Test"/>
            <class name="com.automation.CorrectFiltering02Test"/>
            <class name="com.automation.CorrectSorting01Test"/>
            <class name="com.automation.CorrectSorting02Test"/>
            <class name="com.automation.CorrectFilteringAndSorting01Test"/>
            <class name="com.automation.CorrectFilteringAndSorting02Test"/>
        </classes>
    </test>
</suite>
